.content-slogan {
    font-size: 3rem;
}

.content-slogan-gradient, .navbar-homebutton {
    background: linear-gradient(90deg, #d6895c 0%, #ce713b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}