@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --text: #e7f2f9;
    --Backgound: #040c10;
    --Primary: #d6895c;
    --Secondary: #0c2331;
    --Accent: #ce713b;
}

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#app {
    font-family: 'Roboto', sans-serif;
    color:#080727;
}

body {
    background-color: #e6e5fa;
    margin: 0;
}

.content{
    padding: 0 4rem;
}

html{
}

/*
dark {
background - #27282C
primary - #111827
secondary - #57518A
accent - #5900FF
text - #C3C3C3
},
light {
background - #d4d5d9
primary - #d8dfee
secondary - #7b75ae
accent - #5900ff
text - #3d3d3d
}
*/