@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

#app {
    font-family: 'Roboto', sans-serif;

}

body {
    background-color: rgb(15 23 42);
}
